target
pidgin-Darwin-x86_64.zip
pidgin-macos-x86_64.zip
pidgin-dist/pidgin
pidgin-dist/examples
pidgin-dist/run.bat
pidgin-dist/run.sh
pidgin-dist/README.md
pidgin-dist/LICENSE
pidgin-dist/pidgin
pidgin-dist/pidgin.exe
pidgin-macos-x86_64
pidgin-macos-x86_64/pidgin
pidgin-macos-x86_64.zip
